:root{
  margin: 1rem;
}

.activity {
  flex-grow: 1;
  min-width: 300px;

  .activityMobile {
    flex-grow: 0;
    margin-bottom: 2rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.MuiButton-root {
  margin: 0 2rem;
  height: 50%;
  align-self: center;
}
